/* Chat container */
.message-display {
    width: 95%;
    height: 350px; /* Adjust as needed */
    overflow-y: auto;
    padding: 10px;
    background-color: #e5e5ea; /* Light gray background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

/* Input area */
.message-input {
    width: calc(95% - 20px);
    min-height: 30px;
    max-height: 80px;
    height: auto;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: none;
    overflow: hidden;
    background-color: #fff;
    line-height: 1.4;
    font-size: 16px;
    transition: height 0.2s;
    position: bottom;
}


/* Message styling */
.message-display p {
    background-color: #218cff; /* Blue color for sent messages */
    color: white;
    padding: 10px 15px;
    border-radius: 18px;
    line-height: 1.4;
    max-width: 60%;
    word-break: break-word;
    margin: 5px 0;
    display: inline-block;
    position: relative;
    clear: both;
}

/* Different style for messages from others */
.message-display p.others {
    background-color: #f0f0f0; /* Light color for received messages */
    color: black;
    float: left;
}

/* Aligning messages */

.message-display p.self {
    float: right;
}

/* Username styling */
.message-display b {
    font-size: 0.8em;
    color: #61696f; /* Dim color for usernames */
    display: block;
    margin-bottom: 3px;
}

.username-input {
    width: calc(95% - 20px); /* Adjust width considering padding */
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.chat-button {
    width: calc(100% - 20px); /* Adjust width considering padding */
    padding: 10px;
    background-color: #007aff; /* Blue color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block; /* Makes the button center-aligned */
    margin: 0 auto; /* Center the button */
}

.chat-button:hover {
    background-color: #0051a8;
}